__pycache__
.vscode
.pytest_cache
venv

# Python environment
.venv/
venv/
env/
*venv*

# Python compiled files
__pycache__/
*.py[cod]

# Dependency files
*.pdb
*.egg-info/
.eggs/
build/
dist/

# Environment variables
.env
.flaskenv